.btn {
    border-radius: 10rem;
    display: inline-block;
    background-color: $color-white;
    padding: 1.2rem 4rem;
    color: $color-grey-dark;
    font-size: $default-font-size;
    text-decoration: none;
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);

    &:hover {
        box-shadow: 0 .6rem 1.1rem rgba($color-black, .3);
        color: $color-black;
    }

    &:active {
        box-shadow: 0 .6rem .6rem rgba($color-black, .3);
    }
}

.rotate {
    float: left;
    animation-name: rotate90Degrees;
    animation-duration: 0.4s;
}

.hide {
    visibility: hidden;
}

.reveal {
    visibility: visible;
}

.shopping-cart {
    float: left;
    visibility: hidden;
}